useDynLib(RegTree)
importFrom(Rcpp, evalCpp)
import(data.table)
export(pretty_plot)
export(RegForest)
export(RndForest)
export(reg_forest)
export(FitField)
export(StdFitField)
export(first_split)
export(all_splits)
export(RegTree)
export(StdRegTree)
