useDynLib(RegTree)
importFrom(Rcpp, evalCpp)
import(data.table)
export(pretty_plot)
export(RegForest)
export(RndForest)
export(reg_forest)
export(FitField)
export(StdFitField)
export(FitFieldWeight)
export(StdFitFieldWeight)
export(first_split)
export(all_splits)
export(RegTree)
export(StdRegTree)
export(quickreg)
export(backfill)
export(distribute_weekly)
export(run_forecast)